{% extends 'website/base.html' %}
{% load static %}

{% block title %} Create Founder Profile {% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="page_header">Add Profile</h2>
			<blockquote class="blockquote text-right">
				<p class="mb-0">As an entrepreneur, you have to be OK with failure. If you’re not failing, you’re likely not pushing yourself hard enough.</p>
				<footer class="blockquote-footer">Alexa von Tobel<cite title="Source Title">, founder of LearnVest</cite></footer>
			</blockquote>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col">
			If you a founder, and you'd like to add your profile 
			<br />
			<a href="#" class="btn btn-primary btn active" role="button" aria-pressed="true">
				please sign up here
			</a>
			<br />
			<br />
		</div>
	</div>
	<div class="row">
		<div class="col">
		</div>
	</div>
</div>

{% endblock body %}
